.entry-content,
.block-editor-block-list__layout {
  color: var(--color-text);
  font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
  line-height: 1.7;

  :where(
      .entry-content > *:not(li),
      .block-editor-block-list__layout > *:not(li)
    ) {
    margin-block: var(--space-24);
  }

  :where(h2) {
    font-weight: var(--font-weight-semibold);
    font-size: clamp(1.75rem, 1.45rem + 0.8vw, 2.25rem);
    line-height: 1.15;
    margin-top: var(--space-48);
  }

  :where(h3) {
    font-weight: var(--font-weight-semibold);
    font-size: clamp(1.5rem, 1.3rem + 0.4vw, 1.875rem);
    line-height: 1.2;
    margin-top: var(--space-32);
  }

  :where(h2 + h3) {
    margin-top: 0;
  }

  :where(ul, ol) {
    padding-left: var(--space-32);
  }

  :where(ul) {
    list-style-type: disc;
  }

  :where(ol) {
    list-style-type: decimal;
  }

  :where(a) {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
  }

  :where(li) {
    padding-left: var(--space-16);
  }

  :where(li)::marker {
    color: var(--color-muted-text);
  }

  :where(li > *),
  :where(li li) {
    margin-top: var(--space-16);
  }

  :where(ol > li)::marker {
    font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
    font-weight: var(--font-weight-semibold);
  }

  :where(strong) {
    font-weight: var(--font-weight-semibold);
  }

  :where(figure) {
    margin-block: var(--space-48);
  }

  :where(li > :first-child) {
    margin-top: 0 !important;
  }

  :where(li > :last-child) {
    margin-bottom: 0 !important;
  }
}
