@import 'tailwindcss';
@import './theme.css';
@import './custom.css';

@layer base {
  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
    transition-duration: theme('transitionDuration.DEFAULT');
    transition-timing-function: theme('transitionTimingFunction.DEFAULT');
  }

  body,
  .editor-styles-wrapper {
    font-family: var(--font-sans);
    color: var(--color-text);
  }

  .editor-post-title__block .editor-post-title__input,
  h1 {
    font-family: var(--font-sans);
    font-size: clamp(2.75rem, 2.1rem + 1.8vw, 3.75rem);
    line-height: 1.05;
  }

  h2 {
    font-size: clamp(2.125rem, 1.75rem + 1.2vw, 3rem);
  }

  h3 {
    font-size: clamp(1.75rem, 1.45rem + 0.8vw, 2.25rem);
  }

  a {
    color: var(--color-primary);
  }
}
